# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/

# SPM
.build/
Packages/
Package.pins
Package.resolved
*.workspace/xcshareddata/swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IPA / dSYM
*.ipa
*.dSYM.zip
*.dSYM

# Decrypted IPA (reference app)
*.ipa

# Gemini AI
.gemini/
.claude/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
